<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <h1>PickHatDang</h1>
    <hr>
    <p1>
    {% if request.user.is_authenticated %}
        <!-- 로그아웃 기능     -->
        <form class="logout_link" action="" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
     <!--   <a href="http://127.0.0.1:8000">Logout</a> -->
    {% else %}
        <a href="http://127.0.0.1:8000/accounts/login">Login</a>
    {% endif %}
    </p1>
    <p1>
    {% if not request.user.is_authenticated %}
        <a href="http://127.0.0.1:8000/accounts/register">Signup</a>
    {% endif %}
    </p1>
</body>
</html>